$hover-color: #4cbf86;
$accent-color: #9f25ff;

$dark-accent-color: #491477;

$bright-accent-color: #ed0b70;

$font-stack: "Montserrat", sans-serif;
$shadow: 12px 12px 8px rgba(0, 0, 0, 0.2);

$sm: 0.4rem;
$mm: 1rem;
$lm: 2rem;
