@use "abstracts" as *;

%section {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  box-shadow: $shadow;
  margin: auto;
  max-width: 1400px;
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;
  backdrop-filter: blur(2px);
}

%highlighter {
  content: "";
  position: absolute;
  top: 0.7em;
  height: 10px;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
}

%bgr {
  background-color: #fff;
  opacity: 1;
  background-image: radial-gradient(rgba(104, 0, 224, 0.3) 2px, #fff 3px);
  background-size: 15px 15px;
}

%card {
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: 8px 8px 0px $dark-accent-color;
  max-width: 350px;
  min-width: 300px;
  padding: 0.2rem;

  img:not(.icon) {
    width: 100%;
    border-bottom: 1px solid $hover-color;
  }
}

%small-header {
  color: $dark-accent-color;
  font-weight: 600;
}
